@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(179,179,179);
    background: linear-gradient(360deg, rgba(179,179,179,1) 2%, rgba(208,208,208,1) 12%, rgba(239,239,239,1) 23%);
    height: 100%;
}

button {
    cursor: pointer;
}

input,
textarea,
button,
select {
    -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background: #88888868;
    border-radius: 12px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#Navigation {
    background-color: #ffffff;
    width: 97%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    color: #E03B3B;
    font-size: 22px;
    padding: 0 3% 0 0;
    font-weight: 700;
}

.blurscreen {
    z-index: 25;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(9px);
    transition: all 0.2s ease-in-out;
}

.Left_panel_icon_open_cont {
    background-color: #E03B3B;
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    margin-left: 0px;
    padding-top: 8px;
    transition: margin-left 0.2s ease-in-out;
    z-index: 30;
}

.CUD_Nav_Logo_Cont {
    width: auto;
    height: 100%;
}

.CUD_Nav_Logo {
    height: 100%;
}

.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

#Main_Page {
    width: 50%;
    height: calc(100% - 100px);
    padding: 0 25%;
}

#Chat_Section {
    position: relative;
    width: calc(100% - 30px);
    height: calc(100% - 197px);
    overflow-y: auto;
    padding: 25px 15px 7px 15px;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 7px;
}

.AI_Message{
    height: Auto;
    max-width: 63.67%;
    background-color: #E03B3B;
    position: relative;
    align-self: flex-start;
    color: #fff;
    border-radius: 12px 12px 12px 0;
    box-shadow: 4px 1px 5px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    padding: 15px;
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 500;
}

.AI_Message::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #E03B3B #E03B3B transparent ;
}

.AI_Message::before{
    content: "";
    position: absolute;
    bottom: 0px;
    right: 100%;
    margin-right: 2px;
    width: 10px;
    height: 5px;
    background-color: rgba(0, 0, 0, .1);
    filter: blur(5px);
    transform: rotate(-80deg);
    z-index: -1;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .1);
}



.User_Message {
    height: Auto;
    max-width: 63.67%;
    background-color: #ffffff;
    position: relative;
    align-self: flex-end;
    color: #000000;
    border-radius: 12px 12px 0 12px;
    box-shadow: -4px 1px 5px 4px rgba(0, 0, 0, .05), 0 8px 16px rgba(0, 0, 0, .05);
    padding: 15px;
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 500;
    word-wrap: break-word;
}

.User_Message::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ffffff #ffffff;
}

.User_Message::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 100%;
    margin-left: 2px;
    width: 10px;
    height: 5px;
    background-color: rgba(0, 0, 0, .05);
    filter: blur(5px);
    transform: rotate(80deg);
    z-index: -1;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .05);
}

#Messaging_Section {
    height: 150px;
    position: sticky;
}

.Messaging_Commands_Section {
    height: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 20px;
    gap: 20px;
    margin-bottom: 15px;
}

.Messaging_Commands_Section_small {
    height: 30%;
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 20px;
    gap: 20px;
    margin-bottom: 15px;
}

.Messaging_Command {
    width: 100%;
    background-color: #E03B3B;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.Messaging_Command:hover {
    transform: translateY(-5px);
}

.Scholarship_Command {
    width: 145px;
}

.Messaging_User_Input_Section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.User_Input_Cont {
    display: flex;
    padding: 15px 25px 15px 15px;
    width: calc(100% - 40px);
    border-radius: 16px;
    box-shadow: 3px 4px 8px 3px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    background-color: #ffffff;
}

.User_Input {
    width: calc(100%);
    padding: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 650;
    font-family: 'DM Sans', sans-serif;
}

.send_button {
    background: none;
    outline: none;
    border: none;
    z-index: 20;
}

.send_button_icon {
    width: 30px;
    cursor: pointer;
}

#Slider_Menu {
    position: absolute;
    top: 0;
    left: -300px;
    height: 100%;
    width: 300px;
    background-color: #d0d0d0;
    transition: left 0.2s ease-in-out;
    z-index: 30;
}

.Top_Slider_Side {
    background-color: #eaeaea;
    position: relative;
    width: auto;
    height: 100px;
    display: flex;
    padding: 0 21px 0 25px;
    justify-content: space-between;
}

.Top_Slider_Side button {
    border: none;
    background: none;
    outline: none;
    text-align: left;
    color: #000000;
    font-family: 'DM Sans';
    font-weight: 700;
    cursor: pointer;
}
.Student_Profile{
    margin: 10px 0;
    padding: 0 10px;
    border-radius: 12px;
}

.Student_Profile:hover{
    background-color: #cfcfcf70;
}

.Student_Profile p {
    font-size: 18px;
    margin: 0;
}

.Slider_Menu_Closing_Button i {
    color: #000000;
    font-size: 24px;
}

.Main_Slider_Side {
    height: calc(100vh - 150px);
}

.New_Convo_And_Delete_All_Cont {
    display: flex;
    gap: 10px;
    padding: 25px 25px 0 25px;
}

.New_Convo_And_Delete_All_Cont button {
    background: none;
    border: 2px solid rgb(45, 45, 45);
    height: 50px;
    border-radius: 14px;
    transition: all 0.2s ease-in-out;
}

.New_Convo_And_Delete_All_Cont button:hover {
    background-color: rgb(45, 45, 45);
    color: #a7a7a7;
}

#New_Convo_Button {
    width: 25%;
}

#New_Convo_Button .tooltiptext {
    visibility: hidden;
    opacity: 0.5;
    transform: translateY(5px);
    width: 90px;
    background-color: rgb(45, 45, 45);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 70px;
    margin-left: -60px;
    font-family: "DM Sans";
    font-weight: 5 00;
    transition: all 0.1s ease-in-out;
}

#New_Convo_Button .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(45, 45, 45) transparent transparent transparent;
}

#New_Convo_Button:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

#Delete_All_Convos_Button {
    width: 75%;
}

.Delete_All_Convos_Text {
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 16px;
}

.Past_Convo_Buttons_Cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.Past_Convo_Buttons {
    border: none;
    outline: none;
    background-color: #FFFFFF;
    height: 60px;
    text-align: left;
    border-radius: 16px;
    padding-left: 20px;
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 15px;
    color: #000000;
}

.Past_Convos_Section {
    margin-top: 20px;
    padding: 25px;
    height: calc(100% - 95px);
    overflow-y: scroll;
}

@media only screen and (max-width: 1312px) {
    .Messaging_Commands_Section {
        display: none;
    }
    .Messaging_Commands_Section_small {
        display: grid;
        gap: 5px;
    }
    .Scholarship_Command {
        width: auto;
    }
}

@media only screen and (max-width: 960px) {
    #Main_Page {
        width: 70%;
        padding: 0 15%;
    }
}

@media only screen and (max-width: 768px) {
    .Messaging_Command:hover {
        transform: none;
    }
}

@media only screen and (max-width: 560px) {
    #Main_Page {
        width: 80%;
        padding: 0 10%;
    }
}

@media only screen and (max-width: 480px) {
    .Messaging_Commands_Section_small {
        grid-template-columns: 1fr 1fr;
        height: 40%;
    }
    #Chat_Section {
        height: calc(100% - 219px);
    }
    #Messaging_Section {
        height: 180px;
    }
    #Navigation {
        font-size: 18px;
    }
    .Left_panel_icon_open_cont {
        width: 75px;
        height: 42px;
    }
    .CUD_Nav_Logo_Cont {
        width: auto;
        height: 75%;
    }
}

@media only screen and (max-width: 426px) {
    #Main_Page{
        padding: 0 5%;
        width: 90%;
    }
    .User_Input_Cont {
        padding: 15px 10px 15px 10px;
        width: calc(100% - 15px);
        height: 25px;
    }
    .User_Input{
        font-size: 14px;
    }
    .send_button_icon{
        width: 25px;
    }
    .User_Message, .AI_Message{
        font-size: 15px;
    }
}

@media only screen and (max-width: 375px) {
    #Slider_Menu {
        width: 275px;
    }
}

@media only screen and (max-width: 330px) {
    #Slider_Menu {
        width: 250px;
    }
}

@media only screen and (max-width: 300px) {
    .Messaging_Commands_Section_small{
        padding: 0;
    }
    .Left_panel_icon_open_cont{
        width: 40px;
    }
    .hamburger svg{
        height: 2.5em;
    }
}
