@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #EFEFEF;
}

button{
    cursor: pointer;
}

/* width */
*::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  *::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Handle */
  *::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 12px;
  }
  
  /* Handle on hover */
  *::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#Navigation{
    background-color: #ffffff;
    width: calc(100% - 50px);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    color: #E03B3B;
    font-size: 22px;  
    padding: 0 50px 0 0;  
    font-weight: 700;
}

.Left_panel_icon_open_cont{
    background-color: #E03B3B;
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    margin-left: 0px;
    padding-top: 8px;
    transition: margin-left 0.2s ease-in-out;
}


.CUD_Nav_Logo_Cont{
    width: auto;
    height: 100%;
}

.CUD_Nav_Logo{
    height: 100%;
}



.hamburger {
    cursor: pointer;
  }
  
  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 2em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  

#Main_Page{
   
    width: calc(100% - 700px);
    height: calc(100vh - 100px);
    padding: 0 350px;

}


#Chat_Section{

    height: 75%;
    overflow-y: auto;
}

#Messaging_Section{
   
    height: 25%;    
}

.Messaging_Commands_Section{
    height: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 20px;
    gap: 20px;
    margin-bottom: 15px;
    
}

.Messaging_Command{
    width: 100%;    
    background-color: #E03B3B;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    border: none;
    cursor: pointer;

}
.Scholarship_Command{
    width: 145px;
}

.Messaging_User_Input_Section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.User_Input_Cont{
    display: flex;
    padding: 15px 25px 15px 15px;
    width: calc(100% - 40px);
    border-radius: 16px;
    background-color: #ffffff;
}

.User_Input{
    width: calc(100%);
    padding: 8px;
    border: none;
    outline: none;  
    font-size: 16px;
    font-weight: 650;
    font-family: 'DM Sans', sans-serif;


}

.send_button{
   font-size: 30px;
   transform: rotate(30deg);
   cursor: pointer;
}

#Slider_Menu{
    position: absolute;
    top: 0;
    left: -300px;
    height: 100%;
    width: 300px;
    background-color: #d0d0d0;
    transition: left 0.2s ease-in-out;
}


.Top_Slider_Side{
    background-color: #eaeaea;
    position: relative;
    width: auto;
    height: 100px;
    display: flex;
    padding: 0 21px 0 25px;
    justify-content: space-between;


}

.Top_Slider_Side button{
    border: none;
    background: none;
    outline: none;
    text-align: left;
    color: #000000;
    font-family: 'DM Sans';
    font-weight: 700;
    cursor: pointer;

}

.Student_Profile p{
    font-size: 18px;
    margin: 0;
}

.Slider_Menu_Closing_Button i{
    color: #000000;
    font-size: 24px;

}

.Main_Slider_Side{
    height: calc(100vh - 150px);

}

.New_Convo_And_Delete_All_Cont{
    display: flex;
    gap: 10px;
    padding: 25px 25px 0 25px;
}

.New_Convo_And_Delete_All_Cont button{
    background: none;
    border: 2px solid black;
    height: 50px;
    border-radius: 14px;
}

#New_Convo_Button{
    width: 25%;
}
#Delete_All_Convos_Button{
    width: 75%;

}

.Delete_All_Convos_Text{
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 16px;
}

.Past_Convo_Buttons_Cont{
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.Past_Convo_Buttons{
    border: none;
    outline: none;
    background-color: #FFFFFF;
    height: 60px;
    text-align: left;
    border-radius: 16px;
    padding-left: 20px;
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 15px;

}

.Past_Convos_Section{
    margin-top: 20px;
    padding: 25px;
    height: calc(100% - 95px);
    overflow-y: scroll;
}